// FOOTER: END
footer.footer
  .container
    .row
      .col-xs-8.col-sm-6
        a(href='')
          img.footer__logo.img-fluid(src='img/logo-white.png')
      .col-xs-12.col-sm-6.footer__links
        .footer__links__block
          a(href='#') Home
          a(href='#') About
        .footer__links__block
          a(href='#') Profile
          a(href='#') Blog
        .footer__links__block
          a(href='#') Relocation Quiz
          a(href='#') Self Assessment
        .footer__links__block
          a(href='#') Help
// FOOTER: END
