head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title eRetirements
  //build:js js/main.min.js
  script(src="/js/libs/jquery.min.js")
  script(src="/js/libs/tether.min.js")
  script(src="/js/libs/bootstrap.min.js")
  script(src="/js/libs/handlebars.min.js")
  script(src="/js/libs/jquery-ui.min.js")
  script(src="/js/libs/jquery.hc-sticky.min.js")
  script(src="/js/libs/jquery.magnific-popup.min.js")
  // script(src="/js/handlebars-logic-main.js")
  script(src="/js/main.js")

  //endbuild

  //build:css css/style.min.css
  <link rel="stylesheet" href="css/libs/bootstrap-reboot.min.css" type="text/css" />
  <link rel="stylesheet" href="css/libs/tether.min.css" type="text/css" />
  <link rel="stylesheet" href="css/libs/bootstrap-grid.min.css" type="text/css" />
  <link rel="stylesheet" href="css/libs/hamburgers.min.css" type="text/css" />
  <link rel="stylesheet" href="css/libs/jquery-ui.min.css" type="text/css" />
  <link rel="stylesheet" href="css/libs/jquery-ui.theme.min.css" type="text/css" />
  <link rel="stylesheet" href="css/process.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  //endbuild
